.circle{
    animation-name: jumps;
    position: absolute;
    background-image: url("https://w7.pngwing.com/pngs/300/927/png-transparent-kentucky-wildcats-mens-basketball-womens-basketball-sport-game-ordinary-basketball-material-free-to-pull-the-game-free-logo-design-template-sport.png");
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
@keyframes jumps{
    0%{left:5px;top:5px;animation-timing-function: ease-in;}
    10%{left:50px;top:450px;animation-timing-function: ease-out;}
    25%{left:85px;top:50px;animation-timing-function: ease-in;}
    35%{left:155px;top:450px;animation-timing-function: ease-out;}
    50%{left:215px;top:120px;animation-timing-function: ease-in;}
    60%{left:260px;top:470px;animation-timing-function: ease-out;}
    75%{left:300px;top:230px;animation-timing-function: ease-in;}    
    85%{left:340px;top:470px;animation-timing-function: ease-out;}    
    100%{left:450px;top:470px;animation-timing-function: ease-out;}
}

.backgr{
    position: absolute;
    background-image: url("https://phonoteka.org/uploads/posts/2021-05/1620892356_2-phonoteka_org-p-futbolnoe-pole-fon-sverkhu-2.jpg");
    width: 500px;
    height: 500px;
    z-index: 0;
}