div
{
	border-color: blue;
	Background:aquamarine;
	width: 100px;
	height: 100px;
	margin: 30px;
}
.kvadrat1:hover
{	
	transform: rotate(45deg) translate(60px,-60px);
}
.kvadrat2:hover
{	
	transform: rotate(45deg) translateX(60px);
}
.kvadrat3:hover
{
	transform: rotate(45deg);
}
.kvadrat4:hover
{
	transform: skewX(20deg) scaleX(0.6);
}